<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='icon' href='/images/favicon.ico' class='js-favicon'>
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section listings">
        <div class="container-fluid">
            <div class="logo">
                <a href="/users"><img src="/images/logo4.png" alt=""></a>
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href="/users">Home</a></li>
                    <li><a href="/users/explore?city=Iberian Peninsula">Explore</a></li>
                    <li><a href="/users/#forYou">For You</a></li>
                    <li><a href="/users/#forYourTaste">4Your Tastes</a></li>
                    <li class="active"><a href="/news">News</a></li>
                    <li><a href="/users/contact">Contact</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <div class="user-access">
                    <a href="/">Logout</a>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <div class="hero-listing set-bg" data-setbg="/images/blog-bg.jpg">
    </div>
    <!-- Hero Section End -->

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-item">
                       <div class="blog-pic set-bg" data-setbg="/images/blog/blog-6.jpg">
                            <div class="blog-absolute">
                                <h2>5</h2>
                                <span>January</span>
                                <span>2020</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h2>Top 5 Barcelona Veggie restaurants</h2>
                            <ul>
                                <li>By Maria Alves</li>
                                <li>3 Comments</li>
                            </ul>
                            <p>Years ago, I helped a journalist from The New York Times in the saga of finding vegetarian tapas in Barcelona. We don't starve, but we come to one conclusion: If you don't eat meat, you might like peppers and eggplants. Luckily, a lot has changed since then, and today the veggie scene in the city goes well beyond the tofu's escalation and melancholy. Check out!</p>
                            <a href="#" class="primary-btn">Read More</a>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="blog-pic set-bg" data-setbg="/images/blog/blog-5.jpg">
                            <div class="blog-absolute">
                                <h2>29</h2>
                                <span>December</span>
                                <span>2019</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h2>Tapas N 'Friends: Porto's new restaurant serves tapas until midnight</h2>
                            <ul>
                                <li>By Adriano Guerreiro</li>
                                <li>3 Comments</li>
                            </ul>
                            <p>It's 12 hours a day to have tapas in Porto's new restaurant. Opens at noon and only closes at midnight. Tapas N 'Friends is open all day to serve over 50 snacks that you can share at the table with friends, family or the co-workers you invited for lunch, dinner or snack, who knows. This is the second brand restaurant in the city and is next to the Coliseu.</p>
                            <a href="#" class="primary-btn">Read More</a>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="blog-pic set-bg" data-setbg="/images/blog/blog-4.jpg">
                            <div class="blog-absolute">
                                <h2>20</h2>
                                <span>December</span>
                                <span>2019</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h2>At the new vegan buffet in Lisbon, eat all you want for 9,50 €</h2>
                            <ul>
                                <li>By Adriano Guerreiro</li>
                                <li>3 Comments</li>
                            </ul>
                            <p>Lisbon has one more buffet restaurant to eat all you can. After Bairro Alto, daTerra arrived at another address in the city with the various vegan and vegetarian dishes that the brand has already inhabited customers. Stay in Parque das Nações and it will be possible to fill the plate as often as you can for only 9,50 €.</p>
                            <a href="#" class="primary-btn">Read More</a>
                        </div>
                    </div>
                    <div class="blog-pagination">
                        <a href="#" class="active">01</a>
                        <a href="#">02</a>
                        <a href="#">03</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="/newsLetters" class="newslatter-form" method="POST">
                        <input name="email" type="text" placeholder="Your email address">
                        <button type="submit">Subscribe to our Newsletter</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Usefull Links</h4>
                        <ul>
                            <li>About us</li>
                            <li>Testimonials</li>
                            <li>How it works</li>
                            <li>Create an account</li>
                            <li>Our Services</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Locations</h4>
                        <ul>
                            <li>Iberian Peninsula</li>
                            <li>Porto</li>
                            <li>Lisbon</li>
                            <li>Madrid</li>
                            <li>Barcelona</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Cuisine Styles</h4>
                        <ul>
                            <li>European</li>
                            <li>Portuguese</li>
                            <li>Spanish</li>
                            <li>Asin</li>
                            <li>And much more...</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>From the Blog</h4>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="/images/f-blog-1.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <h6>10 Best clubs in town</h6>
                                <span>March 27, 2019</span>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="/images/f-blog-2.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <h6>10 Best restaurants in town</h6>
                                <span>March 27, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom">
                <div class="col-lg-5 order-2 order-lg-1">
                    <div class="copyright"><p class="text-white">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This WebSite is made by <a href="/" target="_blank" >EatFlix</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p></div>
                </div>
                <div class="col-lg-7 text-center text-lg-right order-1 order-lg-2">
                    <div class="footer-menu">
                        <a href="/users">Home</a>
                        <a href="/users/explore?city=Iberian Penisula">Explore</a>
                        <a href="/users/#forYou">For You</a>
                        <a href="/users/#forYourTaste">4Your Tastes</a>
                        <a href="/users/news">News</a>
                        <a href="/users/contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/jquery.slicknav.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/jquery.nice-select.min.js"></script>
    <script src="/javascripts/mixitup.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>